body {
    background-color: #3fc3ea;
    padding: 0;
    margin: 0;
} 

header {
    background-color: #90cc8e;
    padding: 20px;
    text-align: center;
    font-family: 'Recursive', sans-serif;
    font-size: 35px;
    color: white;
}